<!DOCTYPE HTML>
<html ng-app="chatroom">
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller="mainCtrl">
    <div class="main-container">
      <h1> Chit Chat </h1>
      <form ng-submit="postData()">
        <input class="form-control text-box" type="text" ng-model="message" placeholder="Message">
      </form> 
      <input class="form-control text-box" type="text" ng-model="search" placeholder="Search">
     
     <div class="options">         
      
                            
        <button ng-click="sortDirectionChange()">Sort by time</button>
      </div>
      
      
      <div class="messages-container">
        <p ng-repeat="message in messages |filter:search | orderBy: 'createdAt': sortDirection"> <br>{{message.text}}  <br> {{ message.createdAt | date: 'dd/MM/yyyy hh:mm:ss a'}}<br></p>
      </div>
    </div>
    
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.19.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/parseService.js"></script>
    <script src="js/defaultHeaders.js"></script>
  </body>
</html>
